
 body {

  background: -webkit-linear-gradient(  #adaebc, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(  #b5b6bc, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
 .back-btn{

    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    top:0;
    left:0;
  
  
  
    background-color: white;
  
    display: inline-block;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
   
   }

.parent {
    border: 5px solid rgb(122, 122, 122);
  }
  
  .item {
    /*height: 50px;*/
    margin: 5px;
    background: DeepSkyBlue;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
  }
  
  
  
  /**** display: flex ****/
  
  
  .example-flex .parent {
    display: flex;
  }
  
  .example-flex .item {
    width: 50px;
  }
  
  
  
  
  /**** flex-direction ****/
  
  
  .example-direction .parent {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .example-direction .item {
    width: 50px;
  }
  
  
  
  
  /**** flex-wrap ****/
  
  
  .example-wrap .parent {
    display: flex;
    flex-wrap: wrap;
  }
  
  .example-wrap .item {
    width: 30%;
  }
  
  
  
  
  
  /**** justify-content ****/
  
  
  .example-justify .parent {
    display: flex;
    justify-content: space-around;
  }
  
  .example-justify .item {
    width: 50px;
  }
  
  
  
  
  
  /**** align-items ****/
  
  
  .example-align .parent {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
  }
  
  .example-align .item {
    width: 50px;
  }
  
  
  
  
  
  /**** align-content ****/
  
  
  .example-align-content .parent {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .example-align-content .item {
    width: 20%;
  }
  
  
  
  
  