.hello{color: blue; font-size: 20px; font-weight: bold;}

body {

    background: #ddd6f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(  #a2a3b3, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( #b2b3bb, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }

  .back-btn{

    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    top:0;
    left:0;
  
  
  
    background-color: white;
  
    display: inline-block;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
   
   }